{% extends "base.html" %}
 
{% block title %}
    Confirmation Form - Story 7 PPW
{% endblock %}

{% block content %}
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Halaman Konfirmasi</h1>
                    <p class="lead">Harap melakukan konfirmasi terlebih dahulu terhadap apa yang akan dimasukkan ke database</p>
                    <hr class="my-4">
                    <h4 class="text-monospace">Nama : {{ isi_form.nama }}</h4>
                    <h4 class="text-monospace">Status : {{ isi_form.status }}</h4>
                    <a class="btn btn-primary btn-lg" href="{% url 'story7ku' %}" type="submit" name= "yes" role="button">Submit</a>
                    <a class="btn btn-light btn-lg" href="{% url 'delete' pk=isi_form.pk %}" type="submit" name= "no" role="button">Cancel</a>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}