{% extends "base.html" %}
 
{% block title %}
Form - Story 7 PPW
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-md-5">
            <div class="card text-white bg-primary mb-3 pb-3 text-center" style="max-width: 25rem;">
                <div class="card-body">
                  <h5 class="card-title"><h2><b>Isi Form</b></h2></h5>
                  <p class="card-text"><i>Pengisian form ini hanya dilakukan oleh mahasiswa Fakultas Ilmu Komputer Universitas Indonesia.</i></p>
                </div>
            </div>
            <form id="form" method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type = "submit" name="submit" class="btn btn-primary" value="Submit"> 
            </form>  
        </div>
        <div class="col-md-6">
            <div class="alert alert-info font-weight-bold" role="alert">
                ISI NAMA USER BESERTA STATUS USER
            </div>
            <div class="table-responsive" id="Table">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nama</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    {% for i in isi_form %}
                    <tbody>
                        <tr>
                            <td class="font-weight-bold" style="color: white;">{{i.nama}}</td>
                            <td class="font-weight-bold" style="color: white;">{{i.status}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}